<!DOCTYPE html>
<html>
  <head>
    <title>Delete User</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        width: 80%;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
      }
      .warning {
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>TenKabel @Simple2B Account Deletion</h1>
      <p>
        To delete your account, send a DELETE request to the following email:
        <a href="mailto:istacat.info@gmail.com">istacat.info@gmail.com</a>
      </p>
      <p>Content of email should be as follows:</p>
      <pre>
{
    "username": your_username,
    "phone": your_phone_number
}
        </pre
      >
      <p>If you have any questions, please contact us at the same email address.</p>
      <p class="warning">
        With this delete request, you will lose all your data (including job history, payment information) and will not
        be able to recover it.
      </p>
    </div>
  </body>
</html>
